footer
  .container
    .row
      .col-md-4
        .logo-container
          a.logo(href="#")
            i.ri-home-heart-line
            | Medicine
        .box-logo.mt-3
          h3 Liên hệ với chúng tôi
          .social-icons
            a(href="")
              i.fa-brands.fa-facebook
            a(href="")
              i.fa-brands.fa-tiktok
            a(href="")
              i.fa-brands.fa-youtube
            a(href="")
              i.fa-brands.fa-instagram

      .col-md-4
        .box
          h3 Hỗ trợ khách hàng
          a(href="")
            i.fas.fa-phone
            |  1800 1234
          a(href="")
            i.fas.fa-envelope
            |  cskh@gmail.com
          a(href="") Chính sách khiếu nại
          a(href="") Chính sách vận chuyển và giao nhận
          a(href="") Chính sách đổi trả và hoàn tiền

      .col-md-4
        .box
          h3 Danh mục sản phẩm
          a(href="") Chăm sóc sắc đẹp
          a(href="") Chăm sóc cá nhân
          a(href="") Thuốc
          a(href="") Hóa chất và dược liệu
          a(href="") Tin tức