
button.circular-button(type="button" open-chat-button)#openChatBtn
  i.fas.fa-regular.fa-comment
#chat.chat-panel(style="display: none;")
  .chat-content
    .inner-head 
        span Admin 
        span#closeChatBtn.close-button.text-end X
    .chat(
      user-info=user ? JSON.stringify(user) : '{}'
    ) 
      .inner-body
        ul#messages
      .inner-foot
        form.inner-form(onsubmit="return false;")
          input#messageInput.chat-input(
            type="text"
            placeholder="Nhập nội dung..."
          )
          button(type="submit")
            i.fa-solid.fa-paper-plane

script(src="/socket.io/socket.io.js")
script(src="/js/chat-panel.js")