.slider
  .container
    .wrapper
      #mainCarousel.carousel.slide(data-bs-ride="carousel")
        // Indicators
        .carousel-indicators
          button(type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
          button(type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2")

        // Slides
        .carousel-inner
          .carousel-item.slider.item.active
            .image.object-cover
              img.d-block.w-100(src="/images/banner-1.png" alt="1")
            .text-content.flexcol
              h4 Medicine
              h2
                span Chăm sóc sức khỏe mọi lúc mọi nơi
              a.primarybutton(href="") Đến shop

          .carousel-item.slider.item
            .image.object-cover
              img.d-block.w-100(src="/images/banner-2.png" alt="2")
            .text-content.flexcol
              h4 Medicine
              h2
                span Chăm sóc sức khỏe mọi lúc mọi nơi
              a.primarybutton(href="") Đến shop

        // Controls
        button.carousel-control-prev(type="button" data-bs-target="#mainCarousel" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous
        button.carousel-control-next(type="button" data-bs-target="#mainCarousel" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next