header.top-header
  .container.d-flex.justify-content-between.align-items-center
    .contact-info
      span.me-3
        i.fas.fa-phone-alt
        |  1800 1234
      span
        i.fas.fa-envelope
        |  support@email.com
    .user-options.d-flex.align-items-center
      a.me-3(href="/cart")
        i.fas.fa-shopping-cart
        |  Giỏ hàng
      a.me-3(href="/login")
        i.fas.fa-user
        |  Đăng nhập
      a.me-3(href="?lang=en")
        i.fas.fa-globe
        |  EN
