header.top-header
  .container.d-flex.justify-content-between.align-items-center
    .contact-info
      span.me-3
        i.fas.fa-phone-alt
        |  Hotline: 1800 1234
      span.me-3
        i.fas.fa-envelope
        |  support@email.com
      span
        i.fas.fa-map-marker-alt
        |  123 Đường ABC, TP. HCM
    .user-options.d-flex.align-items-center
      span.me-3
        i.fas.fa-solid.fa-language
        |  VN
      if !user
        a.me-3(href="/user/login")
          i.fas.fa-user
          |  Đăng nhập
        a.me-3(href="/user/register")
          i.fas.fa-user-plus
          |  Đăng ký
      else
        a.me-3(href="/user/info")
          i.fas.fa-user
          |  Xin chào, #{user.fullName}
        a.me-3(href="/user/logout")
          i.fas.fa-sign-out-alt
          |  Đăng xuất