mixin renderSubMenu(categories, level = "")
  each category in categories
    li(class=(level == "" ? "dropdown-item category-item" : "sub-item category-item") style=(level != "" ? "margin-left: 20px" : ""))
      a(href=`/products/category/${category.slug}` class=(category.children ? "category-toggle" : "")) #{level} #{category.title}
        if category.children
          i.fas.fa-chevron-down.ml-2 
      if category.children
        ul(class="sub-menu hidden" data-level=level + "-- ") 
          +renderSubMenu(category.children, level + "-- ")